<tr>
  <td><%= item.description %></td>
  <td>$<%= number_with_precision(item.price, precision: 2) %>
  <td><%= link_to 'Show', item %></td>
  <td><%= link_to 'Edit', edit_item_path(item) %></td>
  <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
